{% extends "fancylayout.html" %}

{% block content %}
<h1>Hange Zhu</h1>
<p style = "font-size:13px"> Junior at Brandeis University, majoring in Applied math and Economics.</p>
<img width="460" height="600" src = "/static/images/hange.jpeg">
<h1>Ruoxin Yang</h1>
<p style = "font-size:13px">Sophomor at Brandeis University, majoring in Applied math and Economics.</p>
<img width="460" height="460" src = "/static/images/ruoxin.jpeg">
<h1>Yijin Lu</h1>
<p style = "font-size:13px">Senior at Brandeis University, majoring in IGS, Politics and Economics </p>
<img width="460" height="600" src = "/static/images/yijin.jpeg">
<h1>This is our team!</h1>
<img width="460" height="600" src = "/static/images/WechatIMG190.jpg">
{% endblock %}
